.todo-list {
  display: flex;
  flex-direction: column;
  gap: 34px;
  overflow-y: scroll;
  max-height: 65%;
  min-height: 65%;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
