body {
  font-family: var(--font-family-base);
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.28;
  background-color: var(--color-grey-background);
  color: var(--color-grey-text);
}
