:root {
  --color-grey-background: #f9fafb;
  --color-grey-text: #6b7280;
  --color-grey-header: #e2e8f0;
  --color-dark-item-header: #374151;
  --color-white: #ffffff;
  --color-grey-modal-backdrop: #f3f4f6;

  --border-radius-small: 4px;
  --border-radius-medium: 8px;
  --border-radius-large: 10px;

  --font-family-base: "Inter", sans-serif;

  --container-width: 445px;
  --container-padding-x: 25px;
}
