.todo-item {
  padding: 25px 34px;
  background-color: var(--color-white);
  border-radius: var(--border-radius-medium);
  max-height: 170px;

  &__header {
    font-size: 24px;
    font-weight: 800;
    color: var(--color-dark-item-header);
  }

  &__description {
    font-size: 16px;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow-y: hidden;
    max-height: 41px;
    margin-top: 12px;
  }

  &__tags-list {
    display: flex;
    flex-flow: row wrap;
    margin-top: 12px;
    gap: 12px 8px;
  }
}
