// TODO: Fix buttons overlaping backdrop

.modal {
  display: flex;

  &__backdrop {
    width: 100%;
    min-height: 100dvh;
    max-height: 100dvh;
    height: 100dvh;
    background-color: var(--color-grey-modal-backdrop);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.4;
    z-index: 10;
  }

  &__window {
    width: 100%;
    max-height: 331px;
    box-sizing: border-box;
    padding: 41px;
    background-color: var(--color-white);
    position: absolute;
    bottom: 100px;
    right: 0;
    border-radius: var(--border-radius-medium);
    z-index: 30;

    &-form {
      display: flex;
      flex-direction: column;
      row-gap: 14px;
    }
  }

  &__input,
  &__textarea {
    padding-block: 14px;
    padding-left: 14px;
    font-size: 12px;
    border-radius: var(--border-radius-small);
    border: 1px solid var(--color-grey-header);
    color: var(--color-grey-text);
    background-color: var(--color-white);
  }

  &__textarea {
    resize: none;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    margin-top: 15px;
    z-index: 20;

    &-button {
      display: block;
      cursor: pointer;
    }
  }
}
