.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  max-height: 15%;
  min-height: 15%;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 200px;
    background: linear-gradient(
      180deg,
      transparent 0% 30%,
      var(--color-grey-background) 100%
    );
    position: absolute;
    bottom: 113px;
    left: 0;
    pointer-events: none;
  }

  &__icons {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    margin-top: 15px;

    &-icon-add,
    &-icon-confirm,
    &-icon-deny {
      display: none;
      cursor: pointer;

      &_shown {
        display: block;
      }
    }
  }
}
